body {
  font-family: Verdana;
  font-size: 10pt;
  margin: 0;
  padding: 132px 0 48px 0;
}

.picture {
  display: table;
  margin: 24px auto;
}

.menu {
  text-align: right;
  float: right;
  margin-top: 36px;
}

.paper {
  margin: 24px auto;
  padding: 8px;
  box-shadow: 6px 6px 18px 6px #ccc;
}

.title {
  text-align: center;
  font-size: 2em;
  margin: 12px 12px 24px 0;
}
